<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolor, excepturi sit, non quis consectetur, 
        alias optio libero magnam totam quasi facilis assumenda voluptas harum culpa ipsam velit repellat illum.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque cumque possimus sint consequuntur assumenda nesciunt 
        vel qui numquam totam rerum. A harum aperiam optio labore dignissimos similique deleniti accusamus odit!
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>